
.container{
    width: 100%;
    background:url(signup.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.formbox{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
}
.formbox{
    width: 90%;
    max-width: 450px;
    background: linear-gradient(to top, rgb(255, 255, 255)50%,rgb(255, 255, 255)50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 50px 60px ;
}
.formbox h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.formbox input{
    width: 250px;
    height: 35px;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.formbox input:focus{
    outline: none;
}
.formbox h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position:relative;
}
.formbox h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.input_field{
    background: #eaeaea;
    margin: 15px 0px ;
    border-radius: 10px;
    display:flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 1px 15px;
}
.input_field i{
    margin-left:15px;
    color: #999;
}
form p{
    text-align: left;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: #3c00a0;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.input_group{
    height: 280px;
}
.btn-field button.disable{
    background: #eaeaea;
    color: #555;
}

.btn-field button.disable:hover {
    background-color: rgb(188, 192, 192);
  }

  .btn-field button:hover{
    background-color: rgba(79, 3, 167, 0.534);
  }
 
